<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Shanti Niketan Academy</h3>
            <p>Shanti Niketan Academy is more than just a school – it is a sanctuary of knowledge, values, and
                holistic growth. Inspired by India’s rich heritage and modern education practices, we nurture young
                minds to become confident, compassionate, and future-ready leaders.
            </p>
        </div>

        <div class="footer-column quick-links-column">
            <h3>Quick Links</h3>
            <p><a href="{% url 'overview' %}">About</a></p>
            <p><a href="#">Career</a></p>
            <p><a href="#">Contact</a></p>
            <p><a href="{% url 'cbse_mandatory_disclosure' %}">CBSE Mandate</a></p>
        </div>

        <div class="footer-column">
            <h3>Our Location</h3>
            <p>
                Shanti Niketan Academy <br>
                Vaishnav Colony, near Balaji Tol Kanta<br>
                SANAWAD<br>
                Pin 451111 MADHYA PRADESH <br><br>
                CBSE Affiliation No. - 111111
            </p>
        </div>

        <div class="footer-column">
            <h3>Contact Information</h3>
            <a href="tel:+919876543210">📞 Call: +91 98765 43210</a><br>
            <a href="tel:+911234567890">📞 Call: +91 12345 67890</a><br><br>
            <a href="mailto:santiniketan@gmail.com">✉️ santiniketan@gmail.com</a>
        </div>
    </div>

    <div class="footer-bottom">
        <a href="{% url 'home' %}"><img
                src="https://img.pikbest.com/png-images/20241014/modern-school-logo-vector-design-artwork_10962285.png!w700wp"
                alt="School Logo" class="navbar-logo"></a>
        <h5>
            Copyright © 2025. Shanti Niketan Academy. All rights reserved.
        </h5>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>