<!-- home page template "child template" -->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block navbar %}
<!-- Override parent navbar to empty - Home page has special navbar positioning inside carousel -->
{% endblock %}
{% block black_box_css %} {% endblock %}
{% block content %}
<!-- Carousel -->
<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        <div class="carousel-item active"
            style="background-image: url('https://images.unsplash.com/photo-1633585017028-53205ccd1aa4?w=1920&auto=format&fit=crop&q=80');">
            <div class="carousel-overlay d-flex flex-column h-100 text-left py-5">
                <div class="d-flex flex-column justify-content-center flex-grow-1">
                    <div class="carousel-overlay-text">
                        Knowledge empowers, values guide, together they shape future
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-lg about-us-btn btn-custom-yellow">ABOUT US</a>
                </div>
            </div>
        </div>

        <div class="carousel-item"
            style="background-image: url('https://images.unsplash.com/photo-1580582932707-520aed937b7b?w=1920&auto=format&fit=crop&q=80');">
            <div class="carousel-overlay d-flex flex-column h-100 text-left py-5">
                <div class="d-flex flex-column justify-content-center flex-grow-1">
                    <div class="carousel-overlay-text">
                        Where knowledge meets wisdom and dreams take flight.
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-lg about-us-btn btn-custom-yellow">ABOUT US</a>
                </div>
            </div>
        </div>
        <div class="carousel-item"
            style="background-image: url('https://images.unsplash.com/photo-1541339907198-e08756dedf3f?w=1920&auto=format&fit=crop&q=80');">
            <div class="carousel-overlay d-flex flex-column h-100 text-left py-5">
                <div class="d-flex flex-column justify-content-center flex-grow-1">
                    <div class="carousel-overlay-text">
                        Building strong minds with values that last a lifetime.
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-lg about-us-btn btn-custom-yellow">ABOUT US</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
    <!-- Navbar on top -->
    <!-- template inclusion. not template inheritance. -->
    {% include "navbar.html" %}
</div>
<div class="why-us-container">
    <div class="inner-box">
        <h3><b>WHY Shanti Niketan Academy</b></h3>
    </div>
    <div class="inner-box">
        <h4><b>Academic Growth</b></h4>
        <h5>Grow with us</h5>
    </div>
    <div class="inner-box">
        <h4><b>Excellent Education</b></h4>
        <h5>High quality education</h5>
    </div>
    <div class="inner-box">
        <h4><b>Value-Driven Study</b></h4>
        <h5>Global approach</h5>
    </div>
</div>
<div class="school-image-container">
    <img class="school-image"
        src="https://www.buildingengineering.com.au/wp-content/uploads/2023/02/Blackburn-High-School-STEM-Website-1-1600x899.jpg"
        alt="School Image">
    <div class="overlay">
        <div class="overlay-text">
            Do you have any queries?<br>
            Feel free to get in touch with us!
        </div>
        <button>Contact Us Now</button>
    </div>
</div>
{% endblock %}